@viewport {
  width: device-width;
}


@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

 
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #2d388a !important;
}

body {
  overflow-x: hidden;
  
}
.typewriter h1{
  max-width: 100%;
}
.typewriter h3{
  max-width: 100%;
}


.opisna{
  max-width: 100%;
}
.rebrandimage{
  max-width: 100%;
 
  
}
@media (max-width: 600px) {
  
    .opisna {
      display: block;
  
  }
  .rebrandimage {
      margin-bottom: 10px;
      
  }
}

@media (max-width: 800px) {
  .rebrandimage {
    padding-bottom: 20px;
    display: block;
}
  .opisna {
    display: block;

}
.aboutlogo{
 width: 70% !important;
  height: 70% !important;
}
.maksimalna{
  
    max-width: 70%;
    max-height: 70%
  
}
}

#menu {
	background: #2D388A;
	color: #FFF;
	height: 40px;
	padding-left: 37%;
	border-radius: 17px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	display: inline-block;
        margin-left: 1px;
        padding-top: 35px;
        padding: 15px;
}
#menu a {
  color: #ffffff;
  font-size: 14px;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #999999	;
               transition: 0.3s;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;text-align: center;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
  .kosacrta{
    display
    : none;
  }
  
}


.citati h1{
  color: #fff;
  text-align: center;
  font-size: 5rem;

}

.kvout{
  color: #fff;
  font-size: 2.5rem;
}

.rebrandimage.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.image.animate {
  animation: 1s ease 0s 1 normal forwards bounce-top;
}
.aboutlogo.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.h3tekst.animate {
  animation: 1s ease 0s 1 normal forwards bounce-top;
}
.slikacitat.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.kvout.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.slidza.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}

  




header{
    height: 55px;
    background-color: #1d1d1d;

}

.main-nav .main-menu{
    list-style: none;
    text-align: center;
    }
    
    .main-nav .main-menu li{
        display: inline-block;
        margin-left: 1px;
        padding-top: 35px;
        padding: 15px;
        }
        .main-nav .main-menu li a{
           color: #ffffff;
           font-size: 14px;
      
           text-decoration: none;
           text-transform: uppercase;
           font-family: 'Montserrat';
            }
              .main-nav .main-menu li a:hover{
                color: #999999	;
               transition: 0.3s;
                 }

              















                 

.hero-section .slika{
    height: 900px;
    width: 100%;
    margin-left: 0;
    background-image: url("../1.jpg");
background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;



}



.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
   
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
  }
  
  .column img {
    vertical-align: middle;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
  }
  
  .container:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .galerija{
    margin-top: -20%;
  }

 





  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }



  .fa-2x {
    font-size: 2em;
    margin-left: 23%;
}
.direct-contact-container {
    max-width: 369px !important;
    margin-left: 10%;
}
.kontaktnaziv {
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-top: -19%;
  font-size: 90px;
  margin-bottom: 11%;
  font-family: 'Monstserrat';
}
  #contact {
    width: 100%;
    height: 100%;
    margin-top: -1%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 42vw;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .hero-section .slika {
      height: 400px;
        
     }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    
   
    .hero-section .slika {
   height: 400px;
     
  }
  .img{
    display: block;
  }
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
      width: 100%;
      margin-left: -17%;
    }  
    .form-control, textarea {
      
      width: 360px;
    }
    .alt-send-button {
      width: 339px;
     
  }
  
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

/*GALERIJA */


















/*GALERIJA */











.copyright1{
  font-family: 'Monstserrat';
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin-top: 1%;
  padding-bottom: 1% !important;
}


.rebrand-category{
  margin-top: -18%;
}
  footer{
    height: 100px;
    background-color: #1d1d1d;
    margin-top: 14%;
  }

  footer h3{
    text-align: center;
    color: #ffffff;
    padding-top: 3%;
    font-size: 15px;
    font-family: 'Montserrat';
    max-width: 100%;
  }
  
  .typewriter h3{
    text-align: center;
    margin-top: -30% !important;
    margin-bottom: 10%;
    font-family: 'Montserrat';
    font-size: 4.5vw;
    color: #ffffff;
    max-width: 100%;
  }


.clients{
  margin-top: 20%;
 
}
.rebrandingslika{
  text-align: center;
}
















.rebrandingslika img{
  margin: 40px;
}



.clients img {
  transition: transform .5s ease;
  
}

/* [3] Finally, transforming the image when container gets hovered */
.clients:hover img {
  transform: scale(1.1);
}
  
  
.maksimalna{
  max-width: 100%;
}
  
.imageBox {
  text-align: center;
  max-width: 100%;
    height: auto;
}
.imageAfter {
  width: 0;
  transition: 2s;
  overflow: hidden;
  max-width: 100%;
    height: auto;
}

.container:hover .imageBefore {
  max-width: 100%;
    height: auto;
  width: 100%;
}
.container:hover .imageAfter {
  max-width: 100%;
    height: auto;
  width: 100%;
}


  
  
  
  .typewriter h1 {
    color: #fff;
  
    font-family: 'Montserrat';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .11em; /* Adjust as needed */
    text-align: center;
    font-size:  2.375vw;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
.aboutlogo{
  width: 37.5vw;
}


@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  /* Add styles for iPhone X here */
  /* For example, you could adjust the width and height of your images */
  img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

/* Target iPhone X in landscape mode */
@media only screen and (device-width: 812px) and (device-height: 375px) and (orientation: landscape) {
  /* Add styles for iPhone X here */
  /* For example, you could adjust the width and height of your images */
  img {
    width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 850px) {
  
  .sponzori .col-md-12{
    display: flex;
    margin-bottom: 20px;
  }
  .aboutlogo{
    margin: 10px;
    
  }
  
}

.sponzori{
  margin-top: 15%;
}

.aboutlogo{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  margin: 20px !important;
}
.aboutlogo:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
 
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  .about{
    text-align: center;
    margin-top: -30%;
    
  }
  .about h1{
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 70px;
    font-family: 'Montserrat';
  }
  .about h3{
    color: #ffffff;
    font-family: 'Montserrat';
  }
  .slidza{
    width: 90%;
    text-align: center;
    
    margin-top: -10%;
    margin-left: 5%;
  }

  .opisna{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
  }
 
  .opis{
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    padding-top: 10%;
  }


  #search-box{
   display: none;
  }


  .citat{
    text-align: center;
    padding-top: 10%;
  }
  /* Tablet Styles */
  @media only screen and (min-width: 481px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {
      .column {
        flex: 33.3%;
        max-width: 33.3%;
      }
  }